## Guidelines (temporary part)
1. Everybody working only on his part (starting from MD cell)
2. At least agreed main inputs/outputs should be available and easy to identify

## Data preprocessing: cleaning and conversion from text to numerical
Process is described within the DataCleaning module.
Main data cleaning issues and how solved will be implemented into the readme.

In [11]:
import os
from source.data_cleaning import DataCleaning as dtcln
from source.data_cleaning import describe_with_tukey_fences
REAL_ESTATE_CSV_FILEPATH = os.getcwd() + r"\data" + "\clean_dataset.csv"
CLEANED_CSV_FILEPATH = os.getcwd() + "\\assets" + "\\outputs" + "\\df_after_cleaning.csv"
cleaner = dtcln(csv_filepath=REAL_ESTATE_CSV_FILEPATH)
df, df_outliers = cleaner.get_cleaned_dataframe(cleaned_csv_path=CLEANED_CSV_FILEPATH)
#excluding text columns as requested (boolean kept)
df = df.select_dtypes(exclude=['object'])

Initial dataset, shape: (11288, 19)
Aggregated parameters replacing categorical ones, shape: (11288, 20)
0 Dropped duplicates, shape: (11288, 20)
2314 Dropped outliers, shape: (8974, 20)

In [10]:
#show results of outliers detection and removal
df_outliers

,column,method,type,count,%,index
0,price,fence_tukey_max,max,1048,9.28,"[13, 23, 24, 25, 26, 30, 31, 46, 59, 60, 70, 8..."
1,rooms_number,fence_tukey_max,max,280,2.48,"[22, 24, 25, 26, 28, 29, 59, 60, 70, 88, 90, 9..."
2,area,fence_tukey_max,max,764,6.77,"[13, 23, 24, 25, 26, 30, 37, 59, 60, 70, 83, 8..."
3,land_surface,fence_tukey_max,max,1390,12.31,"[0, 1, 20, 25, 26, 49, 59, 60, 67, 85, 90, 93,..."

In [15]:
#show no null values and no text types
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8974 entries, 2 to 11287
Data columns (total 17 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   source                                  8974 non-null   int64
 1   postcode                                8974 non-null   int64
 2   house_is                                8974 non-null   bool
 3   price                                   8974 non-null   float64
 4   rooms_number                            8974 non-null   float64
 5   area                                    8974 non-null   float64
 6   equipped_kitchen_has                    8974 non-null   bool
 7   furnished                               8974 non-null   bool
 8   open_fire                               8974 non-null   bool
 9   terrace                                 8974 non-null   bool
 10  terrace_area                            8974 non-null   float64
 11  garden                                  8974 non-null   bool
 12  garden_area                             8974 non-null   float64
 13  land_surface                            8974 non-null   float64
 14  swimming_pool_has                       8974 non-null   bool
 15  property_subtype_median_facades_number  7858 non-null   float64
 16  building_state_agg_median_price         8974 non-null   float64
dtypes: bool(7), float64(8), int64(2)
memory usage: 1.1 MB

In [12]:
#show statistical information to consider further processing
describe_with_tukey_fences(df)

,source,postcode,price,rooms_number,area,terrace_area,garden_area,land_surface,property_subtype_median_facades_number,building_state_agg_median_price
count,8974.000000,8974.000000,8974.000000,8974.000000,8974.000000,8974.000000,8974.000000,8974.000000,7858.000000,8974.000000
mean,5.987742,4995.016826,333103.177401,2.661578,143.053488,9.876309,78.966793,148.111879,2.538178,328379.011589
std,0.156102,3208.919175,181061.440007,1.244590,73.282985,18.934356,843.742277,245.940562,0.567797,35651.744527
min,4.000000,1000.000000,25000.000000,0.000000,5.000000,0.000000,0.000000,0.000000,2.000000,249950.000000
5%,6.000000,1040.000000,120000.000000,1.000000,55.000000,0.000000,0.000000,0.000000,2.000000,249950.000000
6%,6.000000,1050.000000,129000.000000,1.000000,59.000000,0.000000,0.000000,0.000000,2.000000,249950.000000
25%,6.000000,1480.000000,200058.750000,2.000000,90.000000,0.000000,0.000000,0.000000,2.000000,345000.000000
50%,6.000000,4500.000000,289000.000000,3.000000,125.000000,0.000000,0.000000,0.000000,3.000000,345000.000000
75%,6.000000,8400.000000,409875.000000,3.000000,180.000000,14.000000,0.000000,208.000000,3.000000,345000.000000
94%,6.000000,9300.000000,690000.000000,5.000000,280.000000,40.000000,300.000000,700.000000,3.000000,345000.000000
95%,6.000000,9420.000000,720000.000000,5.000000,291.000000,41.000000,350.000000,748.350000,3.000000,345000.000000
max,6.000000,9992.000000,985000.000000,7.000000,422.000000,400.000000,40000.000000,1055.000000,4.000000,345000.000000
fence_tukey_min,6.000000,-8900.000000,-114665.625000,0.500000,-45.000000,-21.000000,0.000000,-312.000000,0.500000,345000.000000
fence_tukey_max,6.000000,18780.000000,724599.375000,4.500000,315.000000,35.000000,0.000000,520.000000,4.500000,345000.000000

## Features selection
AH Features IN: df2 OUT: X_train, y_train PPT: Features engineering, Used methods description (text)

## Machine Learning Model
JK model selection & apply IN: X_train, y_train OUT: scikit ?? (info how to extract dict of parameters) PPT: Gradient descent, Validation curve, Learning curve

## Machine Learning Model
MD Model evaluation IN: scikit, df, OUT PPT Root mean square error, table